@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<p>VIA Cat Store is e-shop for cats. You can buy your new companion just by few clicks. Register now and see all the cats for sale!</p>
