@page
@model AddCatModel

@{
   //TODO IsPost+Validation
}




<div class="jumbotron"><h2>Add Cat</h2></div>


<div class="container">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <form method="post" >
                    <legend>Add Cat</legend>
                    <div class="form-group">
                        <label for="Name">Name</label>
                        <input type="text" class="form-control" id="inputName" aria-describedby="nameHelp" placeholder="Enter name">
                    </div>
                    <!-- <div class="form-group">
                        <label for="Sex">Sex</label>
                        <div class="input-group">
                            <label class="radio-inline">
                                <input type="radio" class="form-control" name="inlineRadioOptions" id="inputSexMale" value="male"> Male
                            </label>
                            <label class="radio-inline">
                                <input type="radio" class="form-control" name="inlineRadioOptions" id="inputSexFemale" value="female"> Female
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Breed">Breed</label>
                        <input type="text" class="form-control" id="inputBreed" aria-describedby="breedHelp" placeholder="Enter breed">
                    </div>
                    <div class="form-group">
                        <label for="Date">Birth date</label>
                        <input type="date" class="form-control" id="inputDate" aria-describedby="dateHelp" placeholder="Enter date (dd/mm/yyyy)">
                    </div>
                    <div class="form-group">
                        <label for="Weight">Weight</label>
                        <input type="number" class="form-control" id="inputWeight" aria-describedby="weightHelp" placeholder="Enter weight">
                    </div>
                    <div class="form-group">
                        <label for="Color">Color</label>
                        <input type="text" class="form-control" id="inputColor" aria-describedby="colorHelp" placeholder="Enter color">
                    </div>
                    <div class="form-group">
                        <label for="Picture">Picture</label>
                        <input type="file"id="inputPicture" aria-describedby="pictureHelp">
                    </div>
                    <div class="form-group">
                        <label for="Weight">Price</label>
                        <div class="input-group">
                            <div class="input-group-addon">DKK</div>
                            <input type="number" class="form-control" id="inputPrice" placeholder="Price">
                            <div class="input-group-addon">.00</div>
                        </div>
                    </div> -->
                    <button type="submit" class="btn btn-default">Submit</button>
            </form>
        </div>
    </div>
</div>
