@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<address>
    Chr M Østergaards Vej 4<br />
     8700 Horsens<br />
    <abbr title="Phone">P:</abbr>
    87 55 00 20
</address>

<address>
    <strong>Tereza:</strong> <a href="mailto:253811@via.dk">253811@via.dk</a><br />
    <strong>Marek:</strong> <a href="mailto:253660@via.dk">253660@via.dk</a>
</address>
