@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="jumbotron">
    <h3>@Model.Message</h3>
</div>

<p>VIA Cat Store is e-shop for cats. You can buy your new companion just by few clicks. Register now and see all the cats for sale!</p>

