@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="jumbotron"><h2>Homepage</h2></div>

<ul class="list-unstyled">
    <li>
        <div class="row">
             <div class="col-sm-12">
                 <h2 class="float-left">
                     Cat name 
                     <small>Cat breed 
                         <span class="pull-right">DKK *cat price</span>
                     </small>
                     </h2>
             </div>
            <div class="col-sm-4">
                <img src="http://via.placeholder.com/250x150">
            </div>
            <div class="col-sm-8">
                <table class="table">
                    <tr>
                        <th>Name</th>
                        <td>*cat name</td>
                    </tr>
                    <tr>
                        <th>Sex</th>
                        <td>*cat sex</td>
                    </tr>
                    <tr>
                        <th>Breed</th>
                        <td>*cat breed</td>
                    </tr>
                    <tr>
                        <th>Birthdate</th>
                        <td>*cat birthdate</td>
                    </tr>
                    <tr>
                        <th>Weight</th>
                        <td>*cat weight</td>
                    </tr>
                    <tr>
                        <th>Color</th>
                        <td>*cat color</td>
                    </tr>
                </table>
                <a class="btn btn-success pull-right">Order</a>
            </div>
        </div>
    </li>
</ul>